body{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    

}

nav{
    display: flex;
    padding: 1rem 0;
}

nav li{
    display: inline-flex;
    padding: 0 5px;
}

a{
    color: black;

}

p{
    font-size: 1.125rem;
}

.about-me-container{
    display: flex;
}

.about-me-text{
    margin-right: 1rem;
}

.about-me-container img{
    width: 17rem;
}

.project-title h3 {
    display: inline;
  }

  details{
    cursor: pointer;
  }

  .fa-brands{
    font-size: 2rem;
  }

  .skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }